h1 {
    color: aqua;
    text-align: center;
}

p {
    color: blue;
    background-color: red;
}

table {
    width: 100%;
    background-color: gainsboro;
}

th {
    background-color: azure;
}

td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#director-davis {
    color: bisque;
    background-color: burlywood;
}

.others-directors {
    color: white    ;
    background-color: cornflowerblue;
}